<div class="container">
  <h1>Organic Dashboard</h1>
</div>
<!--
<div class="card-product">
  <i class="fas fa-life-ring fa-4x"></i>
    <div class="card-product-infos">
      <h2>Branded Search: Desktop</h2>
      <p>View Top 5 Google Search results for query <i>"landlord lifeguard"</i> as of <strong><%= DateTime.now %></strong>.</p>
      <ol id="keywords"></ol>
    </div>
      <a class="card-button btn btn-flat" href="https://www.google.com/search?q=landlord+lifeguard&oq=landlord+life&aqs=chrome.0.0j69i57j69i59j0l2j69i60l3.5106j0j7&sourceid=chrome&ie=UTF-8">View Live Search</a>
</div>

<div class="card-product">
  <i class="far fa-life-ring fa-4x"></i>
    <div class="card-product-infos">
      <h2>Branded Search: Mobile</h2>
      <p>View Top 5 Google Search results for query <i>"landlord lifeguard"</i> as of <strong><%= DateTime.now %></strong>.</p>
      <ol id="mobile"></ol>
    </div>
      <a class="card-button btn btn-flat" href="https://www.google.com/search?q=landlord+lifeguard&oq=landlord+life&aqs=chrome.0.0j69i57j69i59j0l2j69i60l3.5106j0j7&sourceid=chrome&ie=UTF-8">View Live Search</a>
</div> -->

<div class="card-product">
  <i class="far fa-life-ring fa-4x"></i>
    <div class="card-product-infos">
      <h2>Keyword Ranking</h2>
      <p>Aggregate Ranking Groups of Champion Keywords<strong><%= DateTime.now %></strong>.</p>
      <ol id="serp"></ol>
    </div>
      <a class="card-button btn btn-flat" href="https://www.google.com/search?q=landlord+lifeguard&oq=landlord+life&aqs=chrome.0.0j69i57j69i59j0l2j69i60l3.5106j0j7&sourceid=chrome&ie=UTF-8">View Live Search</a>
</div>
