<div class="container">
  <h1>Organic Dashboard</h1>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    <span class="sr-only">70% Complete</span>
  </div>
</div>

<div class="card-product">
  <div class="card-product-infos">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <i class="fab fa-google fa-4x"></i>
          </div>
          <div class="col-sm">
            <h2>Keyword Ranking as of <strong><%= DateTime.now.strftime('%A %e %B %Y') %></strong></h2>
              <ol id="serp"></ol>
          </div>
          <div class="col-sm">
            <p><strong>*We need 5x terms in the top 50 on Google in order to hit our organic conversion targets</strong></p>
          </div>
        </div>
    </div>
  </div>
</div>


This privacy statement is a summary of how Landlord Lifeguard uses your personal information.

Landlord Lifeguard is operated by Nationwide Building Society (‘Nationwide’) and Nationwide is the controller of your data. However, data provided to Landlord Lifeguard is kept separate from any data which Nationwide may hold about you. For enquiries related to Landlord Lifeguard, please contact hello@landlordlifeguard.co.uk.

The information we collect and hold about you
Your name and email address – We collect this information when you sign up to receive our newsletter. We use it to provide a tailored newsletter to you. Our legal basis for this is your consent, which you can withdraw at any time by unsubscribing from our emails.

We look at how you engage with us and whether you open the emails we send you. We do this to improve the communications we send. We use small images called pixels within our emails to tell us things like whether you opened the email, how many times and the device you used. You can stop this by closing emails before you download any images or click on any links

Our use of cookies
We use analytics cookies to help monitor use of our site and improve your experience. However, those cookies will not retain your IP address or any other personal data about you.

Our legal basis for using your personal information
We’ll use your information for the purposes outlined above. You can unsubscribe from our newsletter at any time, by clicking on the ‘unsubscribe’ link on any emails we send, or by contacting us on hello@landlordlifeguard.co.uk. If you unsubscribe from emails we will delete all information about you from our systems.

Who do we share your information with?
We will share your data with partners and suppliers that support the operation of the website and newsletter service. This may include transferring personal information to countries outside the UK. When doing so, we take appropriate steps to ensure that there is adequate protection in place and that data protection legislation is followed. This could be by:

Ensuring that we transfer information to countries that we believe have comparable data protection legislation to the UK; or
Putting suitable clauses in our contracts so that organisations take appropriate steps to comply with UK data protection law.
We won’t share your information with anyone else unless you ask us to.

Your rights
You have certain rights when it comes to your personal information. This includes rights to receive all the information we hold on you, update or erase it, or ask us to stop using it. We’ll always consider your request and get back to you as soon as we can and at least within one month.

To exercise any of your rights please contact us on hello@landlordlifeguard.co.uk.Please note we will only be able to provide you with the data we hold for you in relation to Landlord Lifeguard. If you’re a Nationwide Building Society member/customer and would like to know what information is held about you, please visit https://www.nationwide.co.uk/privacy. You also have the right to complain to the Information Commissioner’s Office, who oversee data protection regulation in the UK. Their details can be found online at www.ico.org.uk.

How long do we keep your information for?
We will only keep your information only for as long as is necessary to manage your relationship with us. If you unsubscribe from receiving emails we will delete all the data we hold about you.

If you would like more details on how we use your information, please contact us at hello@landlordlifeguard.co.uk.

Cookie Policy
What are cookies?
Cookies are small text files containing a string of characters that can be placed on your computer or mobile device that uniquely identify your browser or device.

What are cookies used for?
Cookies allow a site or services to know if your computer or device has visited that site or service before. Cookies can then be used to help understand how the site or service is being used, help you navigate between pages efficiently, help remember your preferences, and generally improve your browsing experience. Cookies can also help ensure marketing you see online is more relevant to you and your interests.

How long will cookies stay on my device?
The length of time a cookie will stay on your computer or mobile device depends on whether it is a “persistent” or “session” cookie. Session cookies will only stay on your device until you stop browsing. Persistent cookies stay on your computer or mobile device until they expire or are deleted.

First and third-party cookies
First-party cookies are cookies that belong to Landlord Lifeguard, third-party cookies are cookies that another party places on your device through our Service. Third-party cookies may be placed on your device by someone providing a service for Landlord Lifeguard, for example to help us understand how our service is being used. Third-party cookies may also be placed on your device by our business partners so that they can use them to advertise products and services to you elsewhere on the Internet.

Cookie List
A cookie is a small piece of data (text file) that a website – when visited by a user – asks your browser to store on your device in order to remember information about you, such as your language preference or login information. Those cookies are set by us and called first-party cookies. We also use third-party cookies – which are cookies from a domain different than the domain of the website you are visiting – for our advertising and marketing efforts. More specifically, we use cookies and other tracking technologies for the following purposes:
Strictly Necessary Cookies
These cookies are essential, as they enable you to move around the Service and use its features, such as accessing logged in or secure areas.

Cookie Subgroup Cookies Cookie location Lifespan
uat.landlordlifeguard.co.uk OptanonConsent  1st Party 365 days
landlordlifeguard.co.uk __tld__ 1st Party Session
www.landlordlifeguard.co.uk OptanonAlertBoxClosed 1st Party 365 days
cookie-cdn.cookiepro.com  OptanonAlertBoxClosed, OptanonConsent 3rd Party 365 days, 365 days
Performance Cookies
These cookies collect information about how you have used the Service, for example, information related to the unique username you have provided, so that less strain is placed on our backend infrastructure. These cookies may also be used to allow us to know that you have visited our website. We also use cookies to track aggregate Service usage and experiment with new features and changes on the Service. The information collected is used to improve how the Service works.

Cookie Subgroup Cookies Cookie location Lifespan
landlordlifeguard.co.uk _gid, _ga, _gat_UA-147527217-1  1st Party 1 days, 730 days, 0 days
Targeting Cookies
Landlord Lifeguard, our advertising partners or other third-party partners may use these types of cookies to deliver advertising that is relevant to your interests. These cookies can remember that your device has visited a site or service and may also be able to track your device’s browsing activity on other sites or services other than Landlord Lifeguard. This information may be shared with organisations outside Landlord Lifeguard, such as advertisers and/or advertising networks to deliver the advertising, and to help measure the effectiveness of an advertising campaign, or other business partners for the purpose of providing aggregate Service usage statistics and aggregate Service testing.

Cookie Subgroup Cookies Cookie location Lifespan
landlordlifeguard.co.uk _fbp  1st Party 90 days
facebook.com  fr  3rd Party 90 days
www.facebook.com    3rd Party Session
How to control and delete cookies
See Cookie settings to change you cookie preferences





