<div class="container">
  <h1>Landlord Lifeguard</h1>
    <div>
      <p>Page 1 for branded search consists of:</p>
      <%= Time.now %>
      <br>
 <!--        <ul id="keywords"></ul> -->
    </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Branded Search</h2>
    <p>View Top 10 Google Search results for query "landlord lifeguard" as of <%= DateTime.now %>.</p>
    <ul id="keywords"></ul>
  </div>
</div>
