<div class="container">
  <h1>Organic Dashboard</h1>
</div>


<div class="card-product">
  <i class="far fa-life-ring fa-4x"></i>
    <div class="card-product-infos">
      <h2>Keyword Ranking</h2>
      <p>Aggregate Ranking Groups of Champion Keywords <strong><%= DateTime.now.strftime('%A %e %B %Y') %></strong>.</p>
      <p>Keyword: landlord advice</p>
      <p>Rank: <ol id="serp"></ol></p>
    </div>
      <a class="card-button btn btn-flat" href="https://www.google.com/search?q=landlord+lifeguard&oq=landlord+life&aqs=chrome.0.0j69i57j69i59j0l2j69i60l3.5106j0j7&sourceid=chrome&ie=UTF-8">View Live Search</a>
</div>


<ol><% @keywords.each do |keyword| %>
<li><%= keyword.name %>:</li> <li id="serp"></li>
<% end %></ol>
